<div class="container">
    <h2>Adding new word</h2>

    <form method="POST" action="/">
        <div class="form">
            <label>
                <p>
                    Slowo
                </p>
                <p>
                    <input type="text" name="word">
                </p>
            </label>
            <button type="submit" class="btn btn-success">Dodaj do bazy!</button>
        </div>
    </form>










</div>