<form method="POST" action="/added/sentence">
    <div class="form">
        <label>
            <p>
                Sentences
            </p>
            <p>
                <input type="text" name="sentences">
            </p>
        </label>

        <button type="submit" class="btn btn-success">Add!</button>
</form>