<h2>Adding new word</h2>

<form method="POST" action="/added/sentence">
    <div class="form">
        <label>
            <p>
                Word
            </p>
            <p>
                <input type="text" name="word">
            </p>
        </label>
        <button type="submit" class="btn btn-success">Add to base!</button>
    </div>
</form>
